// // ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):
	// =================================================================
	--wight: #fff;
	--wight_12: rgba(255, 255, 255, 0.12);
	--light-1: #ecf9f8;
	--light-2: #dff1f0;
	--light-3: #c4c4c4;
	--light-4: #e4e4e4;
	--light-5: #f2f8f7;
	--light-6: #e2f4f3;
	--light-7: #d6e1e0;
	--green: #0e948a;
	--green-2: #046f67;
	--green-2_20: rgba(4, 111, 104, 0.2);
	--green-3: #04ad9e;
	--green-4: #1bada2;
	--green-5: #00aaa1;
	--green-6: #a4cfc3;
	--blue: #1ba2bb;
	--blue_20: rgba(27, 163, 187, 0.2);
	--grey: #a7a7a7;

	--text-grey: #898989;
	--text-grey-2: #6d6d6d;
	--text-grey-3: #b0b0b0;
	--text-grey-4: #666666;
	--text-grey-5: #555555;
	--text-grey-6: #777777;
	--text-grey-7: #6b7280;
	--text-grey-8: #d1d5db;
	--text-grey-9: #9ca3af;
	--text-grey-10: #686767;
	--text-grey-11: #c4c6c5;
	--text-dark: #141414;
	--text-dark_40: rgba(20, 20, 20, 0.4);
	--text-dark-2: #3d3d3d;
	--text-dark-3: #272d2b;
	--text-orange: #ff5b2e;

	// =================================================================
}
