.h1 {
	@include adaptiveValue("font-size", 60, 42, 0, 1200, 768);
	font-weight: 800;
	line-height: 140%;
	letter-spacing: 2%;
}

.h2 {
	@include adaptiveValue("font-size", 40, 28, 0, 1200, 768);
	font-weight: 700;
	line-height: 130%; /* 52/40 */
}

.h1,
.h2 {
	color: --text-dark-2;
}

.h2-subtitle {
	color: var(--text-grey-3);
	@include adaptiveValue("font-size", 16, 11, 0, 1200, 768);
	font-weight: 600;
	line-height: 150%; /* 24/16 */
}
