.h1 {
	@include adaptiveValue("font-size", 60, 42, 0, 1200, 768);
	font-weight: 800;
	line-height: 113%;
	letter-spacing: 0.015em;
}

.h2 {
	margin: 0 auto;

	@include adaptiveValue("font-size", 40, 28, 0, 1200, 768);
	font-weight: 700;
	line-height: 130%; /* 52/40 */
}

.h2-mb50 {
	@include adaptiveValue("margin-bottom", 50, 40, 0, 1200, 768);
}

.h2-mb20 {
	@include adaptiveValue("margin-bottom", 20, 14, 0, 1200, 768);
}

.h2-subtitle {
	color: var(--text-grey-3);
	@include adaptiveValue("font-size", 16, 11, 0, 1200, 768);
	font-weight: 600;
	line-height: 150%; /* 24/16 */
}

.h2,
.h2-subtitle {
	text-align: center;
}

.h2-sm {
	font-size: toRem(20);
	font-weight: 600;

	& span {
		color: var(--green-3);
	}
}

.footer-subtitle {
	margin-bottom: toRem(20);

	color: var(--green-2);
	@include adaptiveValue("font-size", 16, 14, 0, 1400, 992);
	font-weight: 700;
	line-height: 150%; /* 24/16 */
}
