//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	text-align: center;
	justify-content: center;

	@include adaptiveValue("font-size", 18, 14, 0, 1200, 768);
	font-weight: 600;
	line-height: 111.111111%; /* 20/18 */
	text-transform: uppercase;
	outline: 5px solid rgba(4, 111, 103, 0.2);
	border-radius: toRem(2);

	@media (max-width: $tablet) {
		font-weight: 500;
		outline-width: toRem(3);
	}

	&--fw {
		width: 100%;
	}

	&--green {
		background: var(--green-2);
		color: var(--white);

		transition: background 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--green);
			}
		}
	}

	&--outline {
		background: var(--white);
		color: var(--blue);

		transition:
			background 0.3s ease 0s,
			color 0.15s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background: #f4f4f4;
				color: var(--text-orange);
			}
		}
	}

	&--green,
	&--outline {
		@include adaptiveValue("padding-top", 16, 12, 0, 1200, 768);
		@include adaptiveValue("padding-right", 24, 18, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 16, 12, 0, 1200, 768);
		@include adaptiveValue("padding-left", 24, 18, 0, 1200, 768);
	}

	&--sm {
		min-width: toRem(142);
		padding: toRem(10);
	}
}
