.checkbox {
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		&:focus-visible + .checkbox__label:before {
			-webkit-box-shadow: inset 0px 0px 5px 1px #046f67;
			-moz-box-shadow: inset 0px 0px 5px 1px #046f67;
			box-shadow: inset 0px 0px 5px 1px #046f67;
		}
		.contact-us &:checked + .checkbox__label:before {
			background-image: url("@img/ok.svg");
		}
		.page-form &:checked + .checkbox__label:before {
			background-color: red;
		}
	}
	// .checkbox__label
	&__label {
		cursor: pointer;
		display: inline-flex;
		position: relative;
		gap: 8px;

		&:before {
			content: "";
			align-self: flex-start;
			flex: 0 0 16px;
			width: 16px;
			height: 16px;

			background-position: center center; /* x y */
			background-size: contain;
			background-repeat: no-repeat;

			border: 1px solid var(--white);
			border-radius: 4px;
		}
	}
	// .checkbox__text
	&__text {
		align-self: center;
	}
}
