// ===== Hero-About - Section ==================================

.hero-about {
	// .hero-about__container
	&__container {
	}

	// .hero-about__wrapper
	&__wrapper {
		position: relative;

		background-color: var(--light-1);
		border-radius: toRem(10);

		@media (max-width: $mobileSmall) {
			border-radius: 0;
			margin: toRem(0) toRem(-15);
		}
	}

	// .hero-about__anim-line
	&__anim-line {
		position: absolute;
		@include adaptiveValue("top", 32, -100, 0, 1200, 768);
		right: 0;

		width: 100%;

		& svg {
			width: 100%;
		}
	}

	// .hero-about__body
	&__body {
		position: relative;

		padding-bottom: toRem(115);
		@include adaptiveValue("padding-top", 140, 50, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 163, 115, 2, 1200, 768);
		@include adaptiveValue("padding-right", 118, 15, 0, 1400, 768);
		@include adaptiveValue("padding-left", 118, 15, 0, 1400, 768);

		@media (max-width: em(599.98)) {
			padding-bottom: toRem(85);
		}
	}

	// .hero-about__decor
	&__decor {
		position: absolute;

		bottom: 0;
		right: 9%;

		@media (min-width: $mobile) {
			height: 90%; /* 450/500 */
		}

		@media (max-width: $mobile) {
			right: 0;

			width: 40%;
		}

		@media (max-width: em(599.98)) {
			display: none;
		}
	}

	// .hero-about__photo
	&__photo {
		aspect-ratio: 427 / 450;
		height: 100%;
	}

	// .hero-about__quote
	&__quote {
		position: absolute;

		top: calc(100% - toRem(57));
		right: toRem(-68);

		width: toRem(300);
		@include adaptiveValue("padding", 18, 14, 0, 1200, 768);

		border: 2px solid rgb(4, 111, 103);
		border-radius: toRem(12);
		box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.06);
		background: radial-gradient(circle at 0% 10%, rgba(236, 249, 248, 1) 0%, rgba(255, 255, 255, 1) 50%);
		@include adaptiveValue("font-size", 14, 10, 0, 1200, 768);
		font-weight: 500;
		line-height: 128.571429%; /* 18/14 */

		transition: opacity 1.2s ease-in-out 1s;

		.loaded & {
			opacity: 1 !important;
		}

		@media (max-width: $tablet) {
			top: calc(100% - toRem(35));
		}

		@media (max-width: $mobile) {
			right: toRem(20);
		}

		&._icon-quotes:before {
			position: absolute;
			@include adaptiveValue("top", -45, -32, 0, 1200, 768);
			@include adaptiveValue("left", 18, 14, 0, 1200, 768);

			color: var(--green-2);
			@include adaptiveValue("font-size", 62, 44, 0, 1200, 768);
		}
	}

	// .hero-about__title
	&__title {
		margin-bottom: toRem(77);

		@media (max-width: em(649.98)) {
			margin-bottom: toRem(50);
		}
	}

	// .hero-about__btn
	&__btn {
		position: relative;
	}
}

// ============================================================

// ===== Info-About - Section ==================================

.info-about {
	& p {
		@include adaptiveValue("font-size", 16, 12, 0, 1200, 768);
		font-weight: 500;
		line-height: 150%;

		@media (max-width: $mobile) {
			text-align: justify;
		}
	}
	// .info-about__container
	&__container {
	}

	// .info-about__wrapper
	&__wrapper {
		display: grid;
		grid-template: auto 1fr / 39.003436% 49.140893%; /* 572/1164 */
		justify-content: space-between;
		grid-column-gap: toRem(70);

		@include adaptiveValue("padding-right", 118, 0, 0, 1200, 768);
		@include adaptiveValue("padding-left", 118, 0, 0, 1200, 768);

		@media (max-width: $tablet) {
			grid-template: auto 1fr / 45% 1fr; /* 572/1164 */
		}

		@media (max-width: $mobile) {
			grid-column-gap: toRem(50);
		}

		@media (max-width: em(599.98)) {
			grid-column-gap: toRem(30);
		}

		@media (max-width: $mobileSmall) {
			grid-template: auto auto 1fr / 1fr;
		}
	}

	// .info-about__title
	&__title {
		@include adaptiveValue("margin-bottom", 43, 30, 0, 991, 768);

		@media (min-width: $mobileSmall) {
			text-align: left;
		}
	}

	// .info-about__main-txt
	&__main-txt {
		& p {
			&:not(:last-child) {
				@include adaptiveValue("margin-bottom", 46, 32, 0, 991, 768);
			}
		}
	}

	// .info-about__detailed
	&__detailed {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("gap", 88, 35, 0, 991, 768);

		margin-top: toRem(40);

		@media (min-width: $mobileSmall) {
			grid-column: 2 / -1;
			grid-row: 1 / -1;
		}
	}

	// .info-about__articles
	&__articles {
	}

	// .info-about__decor-elem
	&__decor-elem {
		transform: rotate(-180deg);
	}
}

.article-about {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 50, 35, 0, 991, 768);
	}

	// .article-about__top
	&__top {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 10, 8, 0, 991, 768);

		@include adaptiveValue("margin-bottom", 20, 14, 0, 991, 768);

		@media (max-width: $mobileSmall) {
			justify-content: center;
		}
	}

	// .article-about__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptiveValue("width", 44, 31, 0, 991, 768);
		@include adaptiveValue("height", 44, 31, 0, 991, 768);

		background-color: var(--light-1);
		border-radius: toRem(8);

		& svg {
			@include adaptiveValue("height", 23, 16, 0, 991, 768);
		}
	}

	// .article-about__title
	&__title {
		color: var(--green-2);
		@include adaptiveValue("font-size", 20, 15, 0, 1200, 768);
		font-weight: 700;
	}

	// .article-about__txt
	&__txt {
	}
}

// ============================================================

// ===== How Make an Appointment - Section ====================

.how-appoint-sm {
	// .how-appoint-sm__container
	&__container {
	}

	// .how-appoint-sm__wrapper
	&__wrapper {
		@include adaptiveValue("padding-right", 118, 0, 0, 1350, 1200);
		@include adaptiveValue("padding-left", 118, 0, 0, 1350, 1200);
	}

	// .how-appoint-sm__title
	&__title {
	}

	// .how-appoint-sm__subtitle
	&__subtitle {
		max-width: toRem(770);
		margin-bottom: toRem(49);
	}

	// .how-appoint-sm__stages
	&__stages {
		display: flex;
		justify-content: space-between;
		column-gap: toRem(15);

		margin-bottom: toRem(53);

		@media (max-width: em(649.98)) {
			flex-direction: column;
			align-items: center;
			gap: toRem(25);
		}
	}

	// .how-appoint-sm__decor-arrow
	&__decor-arrow {
		@media (min-width: em(649.98)) {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 8.505155%; /* 99/1164 */
			align-self: center;
		}

		@media (max-width: em(649.98)) {
			width: toRem(35);

			transform: rotate(90deg);
		}

		& img {
			width: 100%;
		}
	}

	// .how-appoint-sm__btn
	&__btn {
		display: flex;
		justify-content: center;
	}
}

.stage-appoint {
	display: grid;
	justify-items: center;
	text-align: center;

	max-width: toRem(280);
	@include adaptiveValue("padding-top", 19, 14, 0, 1200, 768);
	@include adaptiveValue("padding-right", 24, 17, 0, 1200, 768);
	@include adaptiveValue("padding-bottom", 19, 14, 0, 1200, 768);
	@include adaptiveValue("padding-left", 24, 17, 0, 1200, 768);

	border: toRem(2) solid rgb(27, 173, 162);
	border-radius: toRem(10);
	box-shadow: 0.2px 4px 7px 0px rgba(0, 0, 75, 0.15);

	// .stage-appoint__num
	&__num {
		@include adaptiveValue("width", 52, 37, 0, 1200, 768);
		@include adaptiveValue("margin-bottom", 15, 11, 0, 1200, 768);
	}

	// .stage-appoint__title
	&__title {
		@include adaptiveValue("margin-bottom", 10, 7, 0, 1200, 768);

		@include adaptiveValue("font-size", 20, 15, 0, 1200, 768);
		font-weight: 500;
		line-height: 120%;
	}

	// .stage-appoint__txt
	&__txt {
		@include adaptiveValue("font-size", 16, 12, 0, 1200, 768);
		line-height: 150%;
	}
}

// ============================================================

// ===== Blogs - Section ======================================

.blogs {
	// .blogs__container
	&__container {
	}

	// .blogs__top
	&__top {
		position: relative;

		display: grid;
		justify-items: center;

		margin-bottom: toRem(71);
	}

	// .blogs__title
	&__title {
	}

	// .blogs__subtitle
	&__subtitle {
		max-width: toRem(570);
	}

	// .blogs__btn
	&__btn {
		display: inline-flex;
		text-align: center;
		justify-content: center;

		@include adaptiveValue("padding-top", 16, 11, 0, 1200, 768);
		@include adaptiveValue("padding-right", 36, 25, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 16, 11, 0, 1200, 768);
		@include adaptiveValue("padding-left", 36, 25, 0, 1200, 768);

		background-color: var(--blue);
		border: 1px solid var(--blue);
		color: var(--white);
		@include adaptiveValue("font-size", 14, 10, 0, 1200, 768);
		font-weight: 600;
		text-transform: uppercase;

		transition: all 0.3s ease 0s;

		@media (min-width: em(1199.98)) {
			position: absolute;
			bottom: toRem(-23);
			right: 0;
		}

		@media (max-width: em(1199.98)) {
			margin-top: toRem(40);
		}

		@media (any-hover: hover) {
			&:hover {
				color: var(--text-orange);
			}
		}
	}

	// .blogs__body
	&__body {
		position: relative;

		display: grid;
		grid-template-columns: repeat(3, minmax(toRem(230), toRem(380)));
		grid-auto-rows: 1fr;
		grid-gap: toRem(50) toRem(15);
		justify-content: space-between;

		@include adaptiveValue("padding-right", 60, 0, 0, 1400, 1300);
		@include adaptiveValue("padding-left", 60, 0, 0, 1400, 1300);

		@media (max-width: $mobile) {
			grid-template-columns: repeat(2, minmax(toRem(230), toRem(380)));
		}

		@media (max-width: em(519.98)) {
			grid-template-columns: minmax(toRem(230), toRem(380));
			justify-content: center;
			grid-gap: toRem(30);
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			z-index: -1;

			width: toRem(116);
			height: toRem(59);

			background-image: url("@img/drops-rect.svg");
			background-position: center center; /* x y */
			background-size: contain;
			background-repeat: no-repeat;
		}

		&::before {
			top: toRem(-40);
			@include adaptiveValue("left", 0, -10, 0, 1400, 1300);
		}

		&::after {
			@include adaptiveValue("right", 0, -10, 0, 1400, 1300);
			bottom: toRem(-40);
		}
	}
}

.card-blogs {
	display: grid;
	grid-template-rows: toRem(214) 1fr;

	@media (max-width: $tablet) {
		grid-template-rows: toRem(150) 1fr;
	}

	// .card-blogs__photo
	&__photo {
		border-radius: toRem(7) toRem(7) 0 0;
		overflow: hidden;
	}

	// .card-blogs__photo-ibg
	&__photo-ibg {
	}

	// .card-blogs__content
	&__content {
		display: grid;
		grid-template-rows: auto 1fr auto;

		@include adaptiveValue("padding-top", 32, 22, 0, 1200, 768);
		@include adaptiveValue("padding-right", 47, 20, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 36, 25, 0, 1200, 768);
		@include adaptiveValue("padding-left", 47, 20, 0, 1200, 768);

		background-color: var(--white);
		border: 2px solid rgb(4, 111, 103);
		border-top: none;
		border-radius: 0 0 toRem(7) toRem(7);

		@media (max-width: $tablet) {
			border-width: toRem(1);
		}
	}

	// .card-blogs__content-top
	&__content-top {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include adaptiveValue("gap", 11, 8, 0, 1200, 768);

		@include adaptiveValue("margin-bottom", 16, 11, 0, 1200, 768);

		@include adaptiveValue("font-size", 14, 10, 0, 1200, 768);
		font-weight: 500;
		letter-spacing: 0.01em;

		& span {
			@include adaptiveValue("width", 5, 4, 0, 1200, 768);
			@include adaptiveValue("height", 5, 4, 0, 1200, 768);
			@include adaptiveValue("margin-right", 7, 5, 0, 1200, 768);

			background-color: var(--text-orange);
			border-radius: 50%;
		}
	}

	&__category,
	&__date {
		& a {
			transition: color 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					color: var(--blue);
				}
			}
		}
	}

	// .card-blogs__category
	&__category {
	}

	// .card-blogs__date
	&__date {
		text-transform: uppercase;
	}

	// .card-blogs__title
	&__title {
		align-self: center;

		@include adaptiveValue("margin-bottom", 40, 28, 0, 1200, 768);

		@include adaptiveValue("font-size", 24, 17, 0, 1200, 768);
		font-weight: 600;
		line-height: 141.666667%; /* 34/24 */
		letter-spacing: 0.01em;

		& a {
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	// .card-blogs__btn
	&__btn {
		@include adaptiveValue("padding-top", 30, 21, 0, 1200, 768);

		border-top: 1px solid rgb(222, 222, 222);

		& a {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			justify-content: flex-end;
			@include adaptiveValue("gap", 24, 17, 0, 1200, 768);

			color: var(--green-2);
			font-size: toRem(14);
			@include adaptiveValue("font-size", 14, 12, 0, 1200, 768);
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.06em;

			transition: color 0.3s ease 0s;

			&._icon-arrow-paging:before {
				@include adaptiveValue("font-size", 17, 14, 0, 1200, 768);

				transform: rotate(-180deg);

				transition: transform 0.3s ease 0s;
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--text-orange);

					&._icon-arrow-paging:before {
						transform: translate(toRem(3), 0) rotate(-180deg);
					}
				}
			}
		}
	}
}

// ============================================================
