.page-form {
	@include adaptiveValue("margin-bottom", 130, 70, 0, 1200, 768);

	// .page-form__container
	&__container {
	}

	// .page-form__wrapper
	&__wrapper {
		position: relative;

		display: flex;
		flex-direction: column;

		padding: toRem(30) toRem(0) toRem(48);

		@media (min-width: em(1399.98)) {
			min-height: toRem(695);
		}

		@media (min-width: $mobileSmall) {
			border: 1px solid rgb(239, 240, 246);
			border-radius: toRem(10);
			box-shadow: 0px 2px 6px 0px rgba(19, 18, 66, 0.07);
			background: rgb(255, 255, 255);
		}

		&::before,
		&::after {
			content: "";
			position: absolute;

			aspect-ratio: 126 / 124;
			@include adaptiveValue("width", 126, 60, 0, 1500, 992);

			background-image: url("@img/drop-circle.svg");
			background-position: center center; /* x y */
			background-size: cover;
			background-repeat: no-repeat;
		}

		&::before {
			@include adaptiveValue("top", 58, 0, 0, 1500, 992);
			@include adaptiveValue("left", 29, -29, 0, 1500, 992);
		}

		&::after {
			@include adaptiveValue("bottom", 83, 105, 0, 1500, 992);
			@include adaptiveValue("right", 29, -29, 0, 1500, 992);
		}
	}

	// .page-form__top
	&__top {
		margin-bottom: toRem(30);
	}

	// .page-form__title,
	// .page-form__subtitle
	&__title,
	&__subtitle {
		margin: 0 auto;
		max-width: toRem(690);

		text-align: center;
	}

	// .page-form__title
	&__title {
		@include adaptiveValue("margin-bottom", 20, 14, 0, 1200, 768);

		@include adaptiveValue("font-size", 40, 28, 0, 1200, 768);
		font-weight: 800;
		line-height: 140%;
		letter-spacing: 0.02em;
	}

	// .page-form__subtitle
	&__subtitle {
		@include adaptiveValue("font-size", 15, 11, 0, 1200, 768);
		font-weight: 600;
		line-height: 160%; /* 24/15 */
	}

	// .page-form__body
	&__body {
		flex: 1;
		display: grid;
		grid-template-rows: auto auto 1fr;
	}

	// .page-form__indicators
	&__indicators {
	}

	// .page-form__steps
	&__steps {
	}

	// .page-form__step
	&__step {
	}

	// .page-form__btns
	&__btns {
		align-self: end;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap-reverse;
		gap: toRem(45) toRem(55);

		padding-top: toRem(50);
		@include adaptiveValue("margin-right", 237, 0, 0, 1200, 768);
		@include adaptiveValue("margin-left", 237, 0, 0, 1200, 768);

		@media (max-width: $mobileSmall) {
			justify-content: center;
		}
	}

	// .page-form__finish
	&__finish {
		flex: 1;
	}
}

.indic-panel {
	margin: toRem(0) toRem(15) toRem(0);
	@include adaptiveValue("margin-bottom", 75, 53, 0, 1200, 768);

	@media (max-width: $mobileSmall) {
		display: none;
	}

	// .indic-panel__progress
	&__progress {
	}

	// .indic-panel__progr-success
	&__progr-success {
	}

	// .indic-panel__steps
	&__steps {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 15, 11, 0, 1200, 768);

		margin: 0 auto;
		max-width: toRem(712);
	}

	// .indic-panel__step
	&__step {
		position: relative;

		& p {
			position: absolute;
			right: 50%;
			transform: translate(50%, 0);
			bottom: toRem(-25);
			@include adaptiveValue("bottom", -25, -18, 0, 1200, 768);

			@include adaptiveValue("font-size", 15, 11, 0, 1200, 768);
			font-weight: 600;
		}

		&.current + .indic-panel__progr-line::before {
			width: 100%;
		}
	}

	// .indic-panel__progr-line
	&__progr-line {
		position: relative;

		flex: 1;

		@include adaptiveValue("height", 6, 4, 0, 1200, 768);

		background-color: var(--light-6);
		border-radius: toRem(40);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 0;

			@include adaptiveValue("height", 6, 4, 0, 1200, 768);

			background-color: var(--green);
			border-radius: toRem(40);

			transition: width 0.3s ease 0s;
		}
	}

	// .indic-panel__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;

		@include adaptiveValue("width", 40, 28, 0, 1200, 768);
		@include adaptiveValue("height", 40, 28, 0, 1200, 768);

		background-color: var(--light-6);
		border-radius: 50%;

		& svg {
			@include adaptiveValue("width", 20, 14, 0, 1200, 768);
		}

		.current & {
			background-color: var(--green);

			& path {
				fill: #fff;
			}
		}
	}
}

.categories-step {
	display: flex;
	flex-wrap: wrap;
	@include adaptiveValue("gap", 20, 15, 0, 1200, 768);
	justify-content: center;

	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	// .categories-step__option
	&__option {
		position: relative;
		z-index: 5;

		flex: 0 1 toRem(335);
		display: grid;
		grid-template-rows: auto auto 1fr;

		@include adaptiveValue("padding-top", 20, 14, 0, 1200, 768);
		@include adaptiveValue("padding-right", 30, 21, 0, 1200, 768);
		@include adaptiveValue("padding-left", 30, 21, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 30, 21, 0, 1200, 768);

		font-family: "Manrope", system-ui, sans-serif;
		border: toRem(2) solid rgb(243, 244, 246);
		border-radius: toRem(10);
		box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.06);
		background: rgb(255, 255, 255);

		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:has(.categories-step__input:checked) {
			border-color: rgb(27, 173, 162);
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.2);
			}
		}

		@media (max-width: $tablet) {
			border-width: toRem(1);
		}
	}

	// .categories-step__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		@include adaptiveValue("height", 44, 31, 0, 1200, 768);
		@include adaptiveValue("width", 44, 31, 0, 1200, 768);
		@include adaptiveValue("margin-bottom", 16, 11, 0, 1200, 768);

		background-color: var(--light-1);
		border-radius: toRem(8);

		& svg {
			@include adaptiveValue("width", 22, 16, 0, 1200, 768);
		}
	}

	// .categories-step__input
	&__input {
		display: none;
	}

	// .categories-step__input-fake
	&__input-fake {
	}

	// .categories-step__title
	&__title {
		@include adaptiveValue("margin-bottom", 16, 11, 0, 1200, 768);

		color: var(--green-2);
		@include adaptiveValue("font-size", 20, 14, 0, 1200, 768);
		font-weight: 700;
	}

	// .categories-step__txt
	&__txt {
		color: var(--text-grey-2);
		@include adaptiveValue("font-size", 14, 10, 0, 1200, 768);
		font-weight: 600;
		line-height: 171.428571%; /* 24/14 */
	}

	// .categories-step__caption
	&__caption {
	}
}

.treatments-step {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(290px, 335px));
	grid-auto-rows: 1fr;
	@include adaptiveValue("grid-column-gap", 20, 15, 0, 1200, 768);
	@include adaptiveValue("grid-row-gap", 30, 15, 0, 991, 768);
	justify-content: center;
	justify-items: center;

	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	// .treatments-step__option
	&__option {
		position: relative;
		z-index: 5;

		display: grid;
		grid-template-rows: auto 1fr;
		@include adaptiveValue("grid-gap", 15, 11, 0, 1200, 768);

		@include adaptiveValue("padding-top", 55, 40, 0, 1200, 768);
		@include adaptiveValue("padding-right", 30, 21, 0, 1200, 768);
		@include adaptiveValue("padding-left", 30, 21, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 20, 14, 0, 1200, 768);

		font-family: "Manrope", system-ui, sans-serif;
		border: toRem(2) solid rgb(243, 244, 246);
		border-radius: toRem(10);
		box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.06);
		background: rgb(255, 255, 255);

		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:has(.treatments-step__input:checked) {
			border-color: rgb(27, 173, 162);
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.2);
			}
		}

		@media (max-width: $tablet) {
			border-width: toRem(1);
		}
	}

	// .treatments-step__title
	&__title {
		color: var(--green-2);
		@include adaptiveValue("font-size", 18, 13, 0, 1200, 768);
		font-weight: 700;
		line-height: 120%;
	}

	//.treatments-step__input
	&__input {
		display: none;
	}

	// treatments-step__input-fake
	&__input-fake {
	}

	// .treatments-step__txt
	&__txt {
		color: var(--text-grey-2);
		@include adaptiveValue("font-size", 14, 10, 0, 1200, 768);
		font-weight: 600;
		line-height: 171.428571%; /* 24/14 */
	}
}

.date-step {
	max-width: toRem(690);
	margin: 0 auto;

	& label {
		color: var(--text-grey-10);
	}

	& input {
		height: toRem(40);
		margin-top: toRem(5);
		@include adaptiveValue("padding-top", 10, 8, 0, 1200, 768);
		@include adaptiveValue("padding-right", 15, 12, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 10, 8, 0, 1200, 768);
		@include adaptiveValue("padding-left", 15, 12, 0, 1200, 768);

		border: toRem(2) solid rgb(214, 225, 224);
		border-radius: toRem(4);

		@media (max-width: $tablet) {
			border-width: toRem(1);
		}

		&._form-focus {
			border-color: var(--green-4);
			outline: none;
		}
	}

	& input::placeholder {
		color: var(--text-grey-11);
	}

	& label,
	& input,
	& input::placeholder {
		@include adaptiveValue("font-size", 15, 12, 0, 1200, 768);
		font-weight: 600;
	}

	// .date-step__date
	&__date {
		margin-bottom: toRem(30);
	}

	// .date-step__time
	&__time {
		position: relative;
	}

	// .date-step__time-list
	&__time-list {
		position: absolute;
		left: toRem(-10);
		top: calc(100% + 10px);

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(100), 1fr));
		grid-gap: toRem(16);

		width: 104.347826%; /* 720/690 */
		padding: toRem(10);

		background-color: rgba(255, 255, 255, 0.75);

		&.inactive {
			display: none;
		}
	}

	// .date-step__time-option
	&__time-option {
		display: flex;
		justify-content: center;

		min-width: toRem(105);
		@include adaptiveValue("padding", 10, 8, 0, 1200, 768);

		background-color: #f9fafb;
		border-radius: toRem(8);
		color: var(--text-grey-7);
		@include adaptiveValue("font-size", 14, 11, 0, 1200, 768);
		font-weight: 600;
		line-height: 150%;

		&.available {
			background-color: var(--light-6);
			color: #3d3d3d;

			cursor: pointer;
			transition: background-color 0.3s ease 0s;

			@media (any-hover: hover) {
				&:hover {
					background-color: #acc5c3;
				}
			}
		}

		&:active {
			background-color: var(--green-2);
			color: var(--white);
		}
	}
}

.doctors-step {
	display: flex;
	@include adaptiveValue("gap", 20, 15, 0, 1200, 992);
	justify-content: center;
	flex-wrap: wrap;

	// .doctors-step__option
	&__option {
		flex: 0 1 toRem(415);
		display: flex;
		gap: toRem(10);

		@include adaptiveValue("padding-top", 18, 13, 0, 1200, 768);
		@include adaptiveValue("padding-right", 18, 13, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 20, 14, 0, 1200, 768);
		@include adaptiveValue("padding-left", 19, 13, 0, 1200, 768);

		box-sizing: border-box;
		border: toRem(2) solid rgb(243, 244, 246);
		border-radius: toRem(10);
		box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.06);
		background: rgb(255, 255, 255);

		cursor: pointer;
		transition: all 0.3s ease 0s;

		&:has(.doctors-step__input:checked) {
			border-color: rgb(27, 173, 162);
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.2);
			}
		}

		@media (max-width: $tablet) {
			border-width: toRem(1);
		}
	}

	// .doctors-step__photo
	&__photo {
		flex: 0 0 26.385224%; /* 100/379 */

		aspect-ratio: 100 / 120;
		height: 100%;

		border-radius: toRem(5);
		overflow: hidden;
	}

	// .doctors-step__content
	&__content {
		display: grid;
		grid-template: 1fr auto / 1fr auto;
		grid-column-gap: toRem(10);

		font-family: "Manrope", system-ui, sans-serif;
	}

	// .doctors-step__name
	&__name {
		margin-left: toRem(3);

		color: var(--green-2);
		@include adaptiveValue("font-size", 20, 14, 0, 1200, 768);
		font-weight: 700;
	}

	// .doctors-step__input
	&__input {
		display: none;
	}

	// .doctors-step__input-fake
	&__input-fake {
	}

	// .doctors-step__roles
	&__roles {
		grid-column: 1 / -1;
		display: grid;

		& li {
			display: flex;
			align-items: first baseline;
			@include adaptiveValue("gap", 7, 5, 0, 1200, 768);

			color: var(--text-grey-2);
			font-size: toRem(14);
			font-weight: 600;
			line-height: 171.428571%; /* 24/14 */

			&::before {
				content: "\2022";
			}
		}
	}
}

.details-step {
	font-weight: 600;

	&:has(.details-step__option-input_new:checked) {
		& .details-step__contact-inputs {
			flex-direction: column;
		}

		& .details-step__name {
			visibility: visible;
			opacity: 1;
		}
	}

	// .details-step__options
	&__options {
		display: flex;
		justify-content: center;
		gap: toRem(50);

		margin-bottom: toRem(15);

		@media (max-width: $mobile) {
			margin-bottom: toRem(30);
		}
	}

	// .details-step__option
	&__option {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(8);

		@include adaptiveValue("font-size", 16, 11, 0, 1200, 768);

		cursor: pointer;
	}

	// .details-step__option-input
	&__option-input {
		display: none;

		&:checked + .details-step__icon {
			border-color: var(--green-2);

			& path {
				fill: var(--green-2);

				transition: fill 0.3s ease 0s;
			}
		}
	}

	// .details-step__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		@include adaptiveValue("width", 80, 64, 0, 1200, 768);
		@include adaptiveValue("height", 80, 64, 0, 1200, 768);

		border: 2px solid var(--light-7);
		border-radius: 50%;

		transition: all 0.3s ease 0s;

		@media (max-width: $tablet) {
			border-width: toRem(1);
		}

		& svg {
			@include adaptiveValue("width", 43, 35, 0, 1200, 768);
		}
	}

	// .details-step__contact-inputs
	&__contact-inputs {
		display: flex;
		flex-direction: column-reverse;
		gap: toRem(15);

		max-width: toRem(690);
		margin: 0 auto;

		@include adaptiveValue("font-size", 15, 10, 0, 1200, 768);

		& label {
			color: var(--text-grey-10);
		}

		& input {
			height: toRem(40);
			margin-top: toRem(5);
			@include adaptiveValue("padding-top", 10, 8, 0, 1200, 768);
			@include adaptiveValue("padding-right", 15, 12, 0, 1200, 768);
			@include adaptiveValue("padding-bottom", 10, 8, 0, 1200, 768);
			@include adaptiveValue("padding-left", 15, 12, 0, 1200, 768);

			border: toRem(2) solid rgb(214, 225, 224);
			border-radius: toRem(4);

			@media (max-width: $tablet) {
				border-width: toRem(1);
			}

			&._form-focus {
				border-color: var(--green-4);
				outline: none;
			}
		}

		& input::placeholder {
			color: var(--text-grey-11);
		}

		& label,
		& input,
		& input::placeholder {
			@include adaptiveValue("font-size", 15, 12, 0, 1200, 768);
			font-weight: 600;
		}
	}

	// .details-step__name
	&__name {
		visibility: hidden;
		opacity: 0;

		transition: all 0.3s ease 0s;
	}

	// .details-step__phone
	&__phone {
	}
}

.appoint-finish {
	display: grid;
	justify-items: center;
	align-content: center;
	text-align: center;

	height: 100%;

	@media (min-width: $pc) {
		padding-bottom: toRem(47);
	}

	// .appoint-finish__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		@include adaptiveValue("width", 131, 66, 0, 1200, 768);
		@include adaptiveValue("height", 131, 66, 0, 1200, 768);
		@include adaptiveValue("margin-bottom", 20, 14, 0, 1200, 768);

		background-color: var(--green-6);
		border-radius: 50%;

		& svg {
			@include adaptiveValue("width", 51, 26, 0, 1200, 768);
		}
	}

	// .appoint-finish__title
	&__title {
		@include adaptiveValue("margin-bottom", 8, 6, 0, 1200, 768);

		@include adaptiveValue("font-size", 20, 14, 0, 1200, 768);
		font-weight: 600;
		line-height: 150%;
	}

	// .appoint-finish__txt
	&__txt {
		max-width: toRem(450);
		@include adaptiveValue("margin-bottom", 40, 28, 0, 1200, 768);

		@include adaptiveValue("font-size", 16, 11, 0, 1200, 768);
		line-height: 150%;
	}

	// .appoint-finish__btn
	&__btn {
		@include adaptiveValue("margin-bottom", 20, 14, 0, 1200, 768);
	}

	// .appoint-finish__edit
	&__edit {
		color: var(--green);
		@include adaptiveValue("font-size", 16, 11, 0, 1200, 768);
		font-weight: 500;
		line-height: 150%;
		text-decoration: underline;

		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--green-2);
			}
		}
	}
}
