// ===== Hero - Section ======================================

.hero-blogs {
	// .hero-blogs__container
	&__container {
	}

	// .hero-blogs__wrapper
	&__wrapper {
		display: grid;
		grid-template: 1fr / 1fr 39.122958%; /* 455/1163 */
		@include adaptiveValue("grid-gap", 19, 13, 0, 1200, 768);

		@include adaptiveValue("padding-top", 70, 49, 0, 1400, 1200);
		@include adaptiveValue("padding-right", 118, 15, 0, 1400, 1200);
		@include adaptiveValue("padding-bottom", 89, 62, 0, 1400, 1200);
		@include adaptiveValue("padding-left", 118, 15, 0, 1400, 1200);

		background-color: var(--light-1);
		border-radius: toRem(10);

		@media (max-width: em(699.98)) {
			grid-template: 1fr / 1fr 30%; /* 455/1163 */
		}

		@media (max-width: em(599.98)) {
			grid-template-columns: 1fr;
		}

		@media (max-width: $mobileSmall) {
			margin: toRem(0) toRem(-15);

			border-radius: 0;
		}
	}

	// .hero-blogs__body
	&__body {
	}

	// .hero-blogs__title
	&__title {
		margin-bottom: toRem(24);
	}

	// .hero-blogs__cards
	&__cards {
	}

	// .hero-blogs__popular
	&__popular {
		margin-top: toRem(15);

		@media (max-width: em(599.98)) {
			display: none;
		}
	}
}

// ============================================================

// ===== Recently Posted - Section ============================

.rec-posted {
	// .rec-posted__container
	&__container {
	}

	// .rec-posted__wrapper
	&__wrapper {
		display: grid;
		grid-template: 1fr / 1fr 36.133122%; /* 456/1262 */
		@include adaptiveValue("grid-gap", 56, 30, 2, 1400, 768);
		grid-gap: toRem(30);

		padding: toRem(57) toRem(0) toRem(100);
		@include adaptiveValue("padding-left", 118, 0, 0, 1400, 1200);
		@include adaptiveValue("padding-right", 20, 0, 0, 1400, 1200);

		@media (max-width: em(599.98)) {
			grid-template-columns: repeat(2, 1fr);
			grid-gap: toRem(15);
		}

		@media (max-width: $mobileSmall) {
			grid-template-columns: 1fr;
			grid-gap: toRem(50);
		}
	}

	// .rec-posted__body
	&__body {
	}

	// .rec-posted__title
	&__title {
		margin: toRem(3) toRem(0) toRem(0);
		@include adaptiveValue("margin-bottom", 52, 36, 0, 1200, 768);

		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	// .rec-posted__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue("grid-column-gap", 80, 15, 0, 1400, 768);
		@include adaptiveValue("grid-row-gap", 80, 50, 0, 1400, 768);

		@media (max-width: em(599.98)) {
			grid-template-columns: 1fr;
		}
	}

	// .rec-posted__categories
	&__categories {
		@media (max-width: $mobileSmall) {
			grid-row: 1 / 2;
		}
	}
}

// ============================================================

// ===== Blogs SLider - Section ===============================

.slider-blogs {
	@include adaptiveValue("margin-bottom", 103, 85, 0, 1200, 768);

	// .slider-blogs__container
	&__container {
	}

	// .slider-blogs__slider
	&__slider {
		position: relative;

		padding: 0 toRem(65);
		@include adaptiveValue("padding-right", 118, 65, 2, 1200, 1100);
		@include adaptiveValue("padding-left", 118, 65, 2, 1200, 1100);

		@media (max-width: $mobile) {
			padding: toRem(0) toRem(0) toRem(60);
		}
	}

	// .slider-blogs__wrapper
	&__wrapper {
		position: relative;
	}

	// .slider-blogs__slide
	&__slide {
		position: relative;
		z-index: 10;

		@include adaptiveValue("height", 365, 260, 0, 1200, 768);
	}

	// .slider-blogs__card
	&__card {
		position: absolute;
		top: toRem(0);
		right: toRem(0);

		width: 98.283262%; /* 1145/1165 */

		border: 1px solid rgb(239, 240, 246);
		border-radius: toRem(10);
		box-shadow: 0.2px 4px 7px 0px rgba(0, 0, 75, 0.15);
		background: rgb(255, 255, 255);

		@media (max-width: $mobile) {
			width: 100%;
		}
	}

	// slider-blogs__slide-shadow
	&__slide-shadow {
		position: absolute;
		z-index: -1;
		right: 0;
		left: 0;
		bottom: 0;

		height: 93%;
		@include adaptiveValue("margin-right", 118, 65, 0, 1200, 1100);
		@include adaptiveValue("margin-left", 118, 65, 0, 1200, 1100);

		background-color: var(--light-1);
		border-radius: toRem(10);

		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .slider-blogs__nav
	&__nav {
	}

	&__btn-next,
	&__btn-prev {
		position: absolute;
		bottom: 50%;
		transform: translate(0, 50%);

		display: flex;
		align-items: center;
		justify-content: center;

		width: toRem(45);
		height: toRem(45);

		background-color: var(--text-dark_40);
		border-radius: 50%;
		color: var(--white);
		font-size: toRem(24);

		cursor: pointer;
		transition: background-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: rgba(20, 20, 20, 0.5);
			}
		}

		@media (max-width: $mobile) {
			bottom: 0;
			transform: translate(0, 0);
		}
	}

	// .slider-blogs__btn-next
	&__btn-next {
		right: 0;

		@media (max-width: $mobile) {
			right: 10%;
		}
	}

	// .slider-blogs__btn-prev
	&__btn-prev {
		left: 0;

		@media (max-width: $mobile) {
			left: 10%;
		}

		&._icon-arrow-next-2:before {
			transform: rotate(-180deg);
		}
	}
}

// ============================================================

// ===== Our Blogs - Section =================================

.blogs-our {
	// .blogs-our__container
	&__container {
	}

	// .blogs-our__wrapper
	&__wrapper {
		@include adaptiveValue("padding-right", 118, 0, 0, 1200, 992);
		@include adaptiveValue("padding-left", 118, 0, 0, 1200, 992);
	}

	// .blogs-our__title
	&__title {
		margin-bottom: toRem(53);

		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}

	// .blogs-our__body
	&__body {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(toRem(290), 1fr));
		grid-row-gap: toRem(50);
		@include adaptiveValue("grid-column-gap", 80, 15, 0, 1400, 992);

		margin-bottom: toRem(80);
		margin-bottom: toRem(80);
	}

	// .blogs-our__nav
	&__nav {
	}
}

// ============================================================
