.categories {
	// .categories__title
	&__title {
		@include adaptiveValue("margin-bottom", 26, 18, 0, 1200, 768);

		@include adaptiveValue("font-size", 20, 14, 0, 1200, 768);
		font-weight: 600;

		.rec-posted & {
			@media (max-width: $mobileSmall) {
				text-align: center;
			}
		}
	}

	// .categories__list
	&__list {
	}

	// .categories__item
	&__item {
		@include adaptiveValue("padding-top", 13, 9, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 10, 7, 0, 1200, 768);

		&:not(:last-child) {
			border-bottom: 1px dashed var(--green-5);
		}
	}

	// .categories__link
	&__link {
		display: flex;
		justify-content: space-between;

		padding: toRem(0) toRem(1) toRem(0);

		@include adaptiveValue("font-size", 15, 11, 0, 1200, 768);
		font-weight: 500;
		line-height: 150%;

		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--text-orange);
			}
		}

		& span {
			transform: translate(0, toRem(5));

			@media (max-width: $tablet) {
				transform: translate(0, toRem(3));
			}
		}
	}
}
