// ----- Socials -----
.socials {
	display: flex;
	justify-content: space-between;
	column-gap: toRem(21);

	& img {
		height: toRem(24);

		@media (max-width: $mobileSmall) {
			height: toRem(18);
		}
	}
}

// ----- Logo -----

.logo {
	display: flex;
	align-items: center;

	& img {
		aspect-ratio: 150 / 64;
		width: toRem(80);
		@include adaptiveValue("width", 150, 105, 2, 1400, 992);
	}
}

// ----- Location, Work-Time, Phones -----
.location {
	& p {
		line-height: 120%;
	}

	&__see-map {
	}

	&__address {
		@media (any-hover: hover) {
			&:hover {
				& p {
					text-decoration: underline;
				}
			}
		}
	}
}

.work-time {
	& p {
		color: var(--text-grey);
		line-height: 120%;

		& time {
			color: initial;
			font-weight: 500;
		}
	}
}

.phones {
	&__call {
	}

	& li {
		@media (any-hover: hover) {
			&:hover {
				& a {
					text-decoration: underline;
				}
			}
		}
	}

	& a {
		line-height: 120%;
	}
}

.location,
.work-time,
.phones {
	display: flex;
	align-items: center;
	@include adaptiveValue("column-gap", 17, 12, 0, 1400, 992);

	& p,
	& a {
		@include adaptiveValue("font-size", 16, 14, 0, 1400, 1200);
		white-space: nowrap;
	}

	& ._icon-location:before,
	&._icon-time:before,
	& ._icon-phone:before {
		color: var(--green-2);
	}
}

// ----- Curved-dashed line Animation -----

#mask-path {
	--path-length: 2247.1123046875;

	stroke-dasharray: var(--path-length);
	stroke-dashoffset: var(--path-length);
}

@keyframes drawMaskAnimation {
	from {
		stroke-dashoffset: var(--path-length);
	}

	to {
		stroke-dashoffset: 0;
	}
}

.animated-line._watcher-view #mask-path {
	animation: drawMaskAnimation 5s linear 1s forwards;
}

// ----- Test Animation -----

.wavy-line-in-symbol {
	stroke-width: 2;
	stroke-linecap: round;
	fill: none;
}

.top-serv__body._watcher-view .wavy-line-in-symbol {
	animation: draw-within-symbol 5s linear 0s forwards;
}

#path1-in-symbol {
	stroke-dasharray: 338.4433898925781;
	stroke-dashoffset: 338.4433898925781;
	stroke: url(#paint0_linear_1_2101);
}

#path2-in-symbol {
	stroke-dasharray: 338.4420471191406;
	stroke-dashoffset: 338.4420471191406;
	stroke: url(#paint1_linear_1_2101);
}

#path3-in-symbol {
	stroke-dasharray: 338.4420166015625;
	stroke-dashoffset: 338.4420166015625;
	stroke: url(#paint2_linear_1_2101);
}

@keyframes draw-within-symbol {
	to {
		stroke-dashoffset: 0;
	}
}

// ----- Stage Appointment -----

.stage-appointment {
	flex-grow: 0;
	flex-shrink: 0;
	@include adaptiveValue("flex-basis", 52, 37, 0, 1200, 768);
	display: flex;
	justify-content: center;
	align-items: center;

	@include adaptiveValue("height", 52, 37, 0, 1200, 768);

	color: var(--white);
	font-family: "Manrope", system-ui, sans-serif;
	@include adaptiveValue("font-size", 32, 23, 0, 1200, 768);
	font-weight: 700;
	background: linear-gradient(112.23deg, rgb(14, 148, 138) 21.957%, rgb(197, 234, 233) 88.422%);
	border-radius: 50%;
}
