// ===== Hero-Home - Section ==================================
.hero-home {
	// .hero-home__container
	&__container {
		margin-bottom: toRem(50);
	}

	// .hero-home__wrapper
	&__wrapper {
		position: relative;

		padding-top: toRem(84);
		padding-bottom: toRem(112);
		@include adaptiveValue("padding-top", 120, 84, 2, 1200, 992);
		@include adaptiveValue("padding-right", 118, 15, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 160, 112, 2, 1200, 992);
		@include adaptiveValue("padding-left", 118, 15, 0, 1200, 768);

		background-image: image-set(url("@img/home-page/hero-bg@2x.jpg") 2x, url("@img/home-page/hero-bg@1x.jpg") 1x);
		background-position: center center; /* x y */
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;

		@media (max-width: $mobile) {
			padding-top: toRem(50);
			padding-bottom: toRem(80);
		}

		@media (min-width: $mobileSmall) {
			border-radius: toRem(15);
		}

		@media (max-width: $mobileSmall) {
			margin: toRem(0) toRem(-15) toRem(0) toRem(-15);
		}
	}

	// .hero-home__photo
	&__photo {
		position: absolute;
		bottom: 0;
		right: 5%;

		aspect-ratio: 506 / 599;
		height: 100%;

		@media (max-width: $mobile) {
			right: 0;
		}

		@media (max-width: em(677.98)) {
			right: -5%;
			height: auto;
			width: 50%;
		}

		@media (max-width: $mobileSmall) {
			display: none;
		}
	}

	// .hero-home__title
	&__title {
		position: relative;

		margin-bottom: toRem(25);

		& span {
			color: var(--green-2);
		}
	}

	// .hero-home__subtitle
	&__subtitle {
		position: relative;

		margin-bottom: toRem(90);

		@include adaptiveValue("font-size", 16, 11, 0, 1200, 768);
		font-weight: 600;
	}

	// .hero-home__btns
	&__btns {
		position: relative;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: toRem(20);
		row-gap: toRem(30);
	}
}
// ============================================================

// ===== Experiences - Section ================================

.experiences {
	// .experiences__container
	&__container {
	}

	// .experiences__wrapper
	&__wrapper {
		position: relative;
	}

	// .experiences__title
	&__title {
	}

	// .experiences__decor
	&__decor {
		position: absolute;
		@include adaptiveValue("top", 30, -150, 0, 1400, 1200);
		z-index: -1;

		@media (min-width: em(1439.98)) {
			width: 100%;
		}

		@media (max-width: em(1439.98)) {
			left: toRem(-15);
			right: toRem(-15);
		}

		@media (max-width: $mobile) {
			top: toRem(-200);
		}

		@media (max-width: $mobileSmall) {
			top: toRem(-250);
		}

		& svg {
			width: 100%;
		}
	}

	// .experiences__slider
	&__slider {
	}
}

.slider-exp {
	// .slider-exp__slider
	&__slider {
	}

	// .slider-exp__wrapper
	&__wrapper {
		@include adaptiveValue("margin-bottom", 10, 30, 0, 1400, 1200);
	}

	// .slider-exp__slide
	&__slide {
		position: relative;

		& figure {
			position: relative;

			aspect-ratio: 453 / 354;
			width: 100%;
			padding: toRem(24);

			background: linear-gradient(180deg, rgba(201, 235, 235, 0.7), rgba(255, 255, 255, 0.3) 100%);
			border-radius: toRem(12);
		}

		& video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;

			width: 89.403974%; /* 405/453 */
			height: 86.440678%; /* 306/354 */

			cursor: pointer;
		}

		& figcaption {
			position: absolute;
			top: 20.338983%; /* 72/354 */
			left: 10.596026%; /* 48/453 */

			color: var(--white);
			@include adaptiveValue("font-size", 24, 17, 0, 1200, 768);
			font-weight: 600;
			line-height: 120%;

			pointer-events: none;

			@media (max-width: $tablet) {
				font-weight: 500;
			}
		}

		& img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			width: 17.660044%; /* 80/453 */

			pointer-events: none;
		}
	}

	// .slider-exp__nav
	&__nav {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap: toRem(20);

		@media (max-width: $tablet) {
			justify-content: center;
		}
	}

	// .slider-exp__btn-next
	&__btn-next {
	}

	// .slider-exp__btn-prev
	&__btn-prev {
		transform: rotate(-180deg);
	}

	&__btn-next,
	&__btn-prev {
		display: flex;
		justify-content: center;
		align-items: center;

		width: toRem(45);
		height: toRem(45);

		color: var(--text-dark);
		background-color: var(--blue_20);
		border-radius: 50%;

		cursor: pointer;
		transition: background-color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--green-6);
			}
		}
	}
}

// ============================================================

// ===== Top-Services - Section ===============================

.top-serv {
	// .top-serv__container
	&__container {
	}

	// .top-serv__wrapper
	&__wrapper {
		@include adaptiveValue("padding-right", 118, 0, 0, 1450, 992);
		@include adaptiveValue("padding-left", 118, 0, 0, 1450, 992);
	}

	// .top-serv__title
	&__title {
	}

	// .top-serv__subtitle
	&__subtitle {
		max-width: toRem(820);
		margin: toRem(0) auto toRem(0);
		@include adaptiveValue("margin-bottom", 65, 50, 0, 992, 768);
	}

	// .top-serv__body
	&__body {
		position: relative;
	}

	// .top-serv__cards
	&__cards {
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 50, 15, 0, 1400, 992);
		justify-content: space-between;
	}

	// .top-serv__card
	&__card {
		flex: 1 1 toRem(354);

		display: grid;
		@include adaptiveValue("grid-row-gap", 16, 13, 0, 1200, 768);
		align-content: start;

		@media (max-width: em(752.98)) {
			justify-items: center;
			text-align: center;
		}

		// .top-serv__card_xl
		&_xl {
			flex: 1 1 toRem(474);
		}

		// .top-serv__card_xxl
		&_xxl {
			flex: 1 1 toRem(640);
		}
	}

	// .top-serv__decor
	&__decor {
		position: absolute;

		& svg {
			@include adaptiveValue("width", 142, 100, 0, 1200, 768);
			//width: 142px;
		}

		// .top-serv__decor_r
		&_r {
			top: toRem(-15);
			@include adaptiveValue("left", -118, -15, 0, 1450, 992);

			@media (max-width: em(1449.98)) {
				top: toRem(-25);
			}
		}

		// .top-serv__decor_l
		&_l {
			bottom: toRem(-15);
			@include adaptiveValue("right", -118, -15, 0, 1450, 992);

			transform: rotate(-180deg);

			@media (max-width: em(1449.98)) {
				bottom: toRem(-25);
			}
		}
	}
}

.t-serv-card {
	padding: toRem(20) toRem(30);
	@include adaptiveValue("padding", 38, 30, 2, 1200, 768);

	font-family: "Manrope", system-ui, sans-serif;
	border: 2px solid var(--green-4);
	border-radius: toRem(24);
	box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.06);

	// .t-serv-card__icon
	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		height: toRem(44);
		width: toRem(44);

		background-color: var(--light-1);
		border-radius: toRem(8);

		& svg {
			height: toRem(26);
		}
	}

	// .t-serv-card__title
	&__title {
		color: var(--green-2);
		@include adaptiveValue("font-size", 20, 16, 0, 1200, 768);
		font-weight: 700;
	}

	// .t-serv-card__txt
	&__txt {
		color: var(--text-grey-2);
		@include adaptiveValue("font-size", 14, 12, 0, 1200, 768);
		font-weight: 600;
		line-height: 171.428571%; /* 24/14 */
	}
}

// ============================================================

// ===== Team - Section =======================================

.team {
	// .team__container
	&__container {
	}

	// .team__title
	&__title {
	}

	// .team__subtitle
	&__subtitle {
		max-width: toRem(745);
	}

	// .team__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
		grid-gap: toRem(70) toRem(20);

		@media (max-width: $tablet) {
			grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
			grid-gap: toRem(45) toRem(15);
		}
	}

	// .team__card
	&__card {
	}
}

.spec-card {
	// .spec-card__photo
	&__photo {
		aspect-ratio: 335 / 240;
		margin-bottom: toRem(20);
	}

	// .spec-card__content
	&__content {
		display: grid;
		@include adaptiveValue("grid-gap", 15, 11, 0, 1200, 768);
	}

	// .spec-card__name
	&__name {
		@include adaptiveValue("font-size", 20, 14, 0, 1200, 768);
		font-weight: 600;
		line-height: 120%;
	}

	// .spec-card__roles
	&__roles {
		margin-left: toRem(7);

		line-height: 140%;

		& li {
			display: flex;
			align-items: first baseline;
			gap: toRem(7);

			&::before {
				content: "\2022";
			}
		}
	}

	// .spec-card__quote
	&__quote {
		padding-left: toRem(15);

		color: var(--text-grey-4);
		border-left: 3px solid rgb(4, 111, 103);
		font-style: italic;
		line-height: 140%;

		@media (max-width: $tablet) {
			border-left: 2px solid rgb(4, 111, 103);
		}
	}

	&__roles,
	&__quote {
		@include adaptiveValue("font-size", 16, 12, 0, 1200, 768);
	}
}

// ============================================================

// ===== Testimonials - Section ===============================

.testimonials {
	// .testimonials__container
	&__container {
	}

	// .testimonials__wrapper
	&__wrapper {
		@media (min-width: em(1399.98)) {
			padding: toRem(0) toRem(120);
		}
	}

	// .testimonials__title
	&__title {
	}

	// .testimonials__subtitle
	&__subtitle {
		@include adaptiveValue("margin-bottom", 124, 75, 0, 1200, 768);
	}

	// .testimonials__body
	&__body {
		position: relative;

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: toRem(50);

		@media (max-width: $tablet) {
			grid-gap: toRem(15);
		}

		@media (max-width: em(549.98)) {
			grid-template-columns: 1fr;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;

			aspect-ratio: 126 / 124;
			width: toRem(126);

			background-image: url("@img/drop-circle.svg");
			background-position: center center; /* x y */
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0;
		}

		&::before {
			top: toRem(-76);
			left: toRem(-90);
			transform: translate(toRem(-15), toRem(-15)) scale(0.4);
			transition: all 3s ease 0s;
		}

		&::after {
			bottom: toRem(-76);
			right: toRem(-90);
			transform: translate(toRem(15), toRem(15)) scale(0.4);
			transition: all 3s ease 1s;
		}

		&._watcher-view::before,
		&._watcher-view::after {
			opacity: 1;
			transform: translate(toRem(0), toRem(0)) scale(1);
		}
	}
}

.testim-card {
	display: flex;
	align-items: center;
	gap: toRem(20);

	@include adaptiveValue("padding-top", 26, 20, 0, 991, 768);
	@include adaptiveValue("padding-right", 40, 30, 0, 991, 768);
	@include adaptiveValue("padding-bottom", 26, 20, 0, 991, 768);
	@include adaptiveValue("padding-left", 40, 30, 0, 991, 768);

	border: 2px solid rgb(27, 173, 162);
	border-radius: toRem(20);
	box-shadow: 3.12px 9.37px 21.85px 0px rgba(0, 0, 0, 0.06);
	/* fallback for old browsers */
	background: rgb(255, 255, 255);
	/* optimized gradient (original is designer's overkill trick ;-)) */
	background: radial-gradient(200% 100% at 0% 12%, rgb(236, 249, 248) 2%, rgb(255, 255, 255) 50%);

	@media (max-width: em(699.98)) {
		flex-direction: column;
	}

	// .testim-card__photo
	&__photo {
		aspect-ratio: 1 / 1;
		flex: 0 0 toRem(76);

		border-radius: toRem(8);
		overflow: hidden;
	}

	// .testim-card__content
	&__content {
	}

	// .testim-card__text
	&__text {
		font-weight: 500;

		@media (max-width: em(699.98)) {
			text-align: justify;
		}
	}

	// .testim-card__author
	&__author {
		font-weight: 700;
		font-style: normal;
	}

	&__text,
	&__author {
		@include adaptiveValue("font-size", 16, 12, 0, 1200, 768);
		line-height: 150%; /* 24/16 */
	}
}

// ============================================================

// ===== FAQ - Section ========================================

.faq {
	// .faq__container
	&__container {
	}

	// .faq__title
	&__title {
	}

	// .faq__subtitle
	&__subtitle {
		max-width: toRem(581);
	}

	// .faq__body
	&__body {
		display: flex;
		gap: toRem(30);
		justify-content: space-between;

		padding: toRem(40);

		background-color: var(--green);
		border-radius: toRem(10);

		@media (max-width: em(799.98)) {
			padding: toRem(20) toRem(20) toRem(35);
		}

		@media (max-width: $mobile) {
			flex-direction: column-reverse;
			gap: toRem(50);
			padding-bottom: toRem(65);
		}

		@media (max-width: $mobileSmall) {
			margin: toRem(0) toRem(-15);
			border-radius: 0;
		}
	}

	// .faq__column
	&__column {
		&:first-child {
			flex: 0 0 45.4%;
		}

		&:last-child {
			flex: 1 1 auto;

			@media (min-width: $mobile) {
				max-width: toRem(656);
				margin-top: toRem(24);
			}
		}
	}

	// .faq__photo
	&__photo {
		aspect-ratio: 600 / 571;
		width: 100%;
		margin-bottom: toRem(65);

		@media (max-width: $mobile) {
			display: none;
		}
	}

	&__description,
	&__btn {
		@include adaptiveValue("margin-left", 75, 0, 0, 1400, 1200);
	}

	// .faq__description
	&__description {
		margin-bottom: toRem(30);

		color: var(--white);
		@include adaptiveValue("font-size", 40, 28, 0, 1200, 768);

		font-weight: 700;
		line-height: 150%;
	}

	// .faq__btn
	&__btn {
	}

	// .faq__accordeon
	&__accordeon {
	}
}

.faq-spollers {
	display: grid;
	grid-gap: toRem(16);

	// .faq-spollers__item
	&__item {
		border-bottom: 1px solid var(--white_12);
		color: var(--white);
	}

	// .faq-spollers__title
	&__title {
		display: flex;
		align-items: first baseline;
		justify-content: space-between;
		gap: toRem(20);

		padding: toRem(20) toRem(0);

		@include adaptiveValue("font-size", 20, 14, 0, 1200, 768);

		font-weight: 600;
		line-height: 150%; /* 30/20 */
		list-style: none;

		cursor: pointer;

		& p {
			max-width: toRem(555);
		}
	}

	// .faq-spollers__body
	&__body {
		padding: toRem(10) toRem(35) toRem(25) toRem(8);

		color: var(--light-4);
		@include adaptiveValue("font-size", 18, 13, 0, 1200, 768);

		font-weight: 500;
		line-height: 140%; /* 30/20 */
	}
}

// ============================================================
