.pop-posted {
	// .pop-posted__title
	&__title {
		margin-bottom: toRem(40);
		padding-left: toRem(23);
	}

	// .pop-posted__articles
	&__articles {
		@include adaptiveValue("padding-left", 23, 16, 0, 1200, 768);

		overflow-y: auto;
		overflow-x: visible;

		.page-blogs__hero & {
			height: 520px;
			@include adaptiveValue("height", 520, 330, 0, 1200, 767);
		}

		& .simplebar-track {
			right: auto;
			left: toRem(0);
		}

		& .simplebar-scrollbar.simplebar-visible::before {
			width: toRem(3);

			background-color: var(--green-5);
			opacity: 1;
		}
	}

	// .pop-posted__article
	&__article {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 14, 0, 1200, 768);
		}
	}
}

.pop-article {
	display: flex;
	@include adaptiveValue("gap", 20, 14, 0, 1200, 768);

	max-width: toRem(432);

	// .pop-article__img
	&__img {
		aspect-ratio: 129 / 115;
		flex: 0 0 29.861111%; /* 129/432 */

		border-radius: toRem(7);
		overflow: hidden;

		@media (max-width: em(699.98)) {
			.page-blogs__hero & {
				display: none;
			}
		}
	}

	// .pop-article__content
	&__content {
		display: grid;
		grid-template-rows: auto auto 1fr;
		justify-items: start;
		align-items: start;
		@include adaptiveValue("grid-gap", 8, 5, 0, 1200, 768);
	}

	// .pop-article__category
	&__category {
		@include adaptiveValue("padding-top", 4, 3, 0, 1200, 768);
		@include adaptiveValue("padding-right", 8, 6, 0, 1200, 768);
		@include adaptiveValue("padding-bottom", 4, 3, 0, 1200, 768);
		@include adaptiveValue("padding-left", 8, 6, 0, 1200, 768);

		background-color: var(--light-2);
		border-radius: toRem(3);
		font-family: "Noto Sans", system-ui, sans-serif;
		@include adaptiveValue("font-size", 12, 9, 0, 1200, 768);
	}

	// .pop-article__title
	&__title {
		@include adaptiveValue("font-size", 17, 12, 0, 1200, 768);
		font-weight: 500;
		line-height: 150%;
	}

	// .pop-article__read-time
	&__read-time {
		align-self: end;
		display: flex;
		align-items: center;

		color: var(--text-grey-6);
		@include adaptiveValue("font-size", 12, 8, 0, 1200, 768);

		&._icon-time-sm:before {
			@include adaptiveValue("margin-right", 7, 5, 0, 1200, 768);

			color: var(--text-grey-5);
		}
	}
}
